---
layout: base
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] | default:site.author %}

<article class="page" role="article">
  {% if author.picture %}
    {% include srcset-img.html class="me" img=author.picture alt=author.name %}
  {% endif %}

  <h1 class="page-title hr" style="padding-bottom:1rem">{% if page.title_html %}{{ page.title_html }}{% else %}{{ page.title }}{% endif %}</h1>

  {{ author.about | markdownify }}

  {{ content }}
</article>
